.ColorPalette {
    max-width: 128px;
    padding: .5rem;
    position: absolute;
    bottom: 33px;
    left: 8px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: white;

    button {
        width: 25px;
        height: 25px;
        border: 1.5px solid transparent;
        border-radius: 50%;
        margin: .2rem;

        &:hover { border: 1.5px solid #5F6367; }

        &:first-child {
            border: 1.5px solid #E7EAED;

            &:hover { border: 1.5px solid #5F6367; }
        }
    }
}