.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    width: 100%;
    margin-top: 20px;
    opacity: 0;
    transition: opacity .3s ease-out;
    padding: 2px;

    img { 
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    button { 
        position: relative;
        background-color: transparent; 
        border-radius: 50%;
        width: 32px;
        height: 32px;

        &:hover {  
            opacity: .87;
            background-color: rgba(95,99,104,0.157);
        }
    }
}

.hover { opacity: 1; }