.Toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    width: 100%;
    margin-top: 20px;

    img { 
        width: 15px;
        height: 15px;
    }

    button { background-color: transparent; }

    &__tool { margin-right: 25px; }

    &__saveBtn {
        font-weight: 600;
        margin-right: 25px;
        font-size: 1.5rem;
    }
}