.Notes {
    width: 100%;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(min-cotent, auto);
    grid-auto-flow: dense;
}