.Toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    cursor: default !important;

    img { 
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    &__tools {
        cursor: default !important;

        img { margin-right: 25px;}
    }

    button { background-color: transparent ;}
}

// Animation
.show-enter { opacity: 0; }
.show-enter-active {
    animation: show .3s ease-out;
}
//.show-exit { opacity: 1; }
.show-exit-active {
    //animation: hide .3s ease-out;
}

@keyframes show { 
    from { opacity: 0; } 
    to { opacity: 1; }
}

@keyframes hide {
    from { opacity: 1; } 
    to { opacity: 0; }
}