.Header {
    width: 100%;
    min-height: 9vh;
    background-color: inherit;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(66, 66, 66, .2);

    h3 { 
        color: #5f6368; 
        font-size: 2.3rem;
        font-weight: 300;
    }

    img {
        margin-left: 3rem;
        margin-right: 1rem;
    }
}