.Note{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(66, 66, 66, .2);
    background-color: #fff;
    word-wrap: break-word;
    white-space: pre-wrap;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative; // TEST

    &:hover {  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); }

    &__title {
        font-weight: 500;
        font-size: 1.6rem;
        margin-bottom: .7rem;
    }

    &__content { 
        font-size: 1.5rem; 
        margin-bottom: auto;
        line-height: 1.5;
    }
}

.clicked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
    z-index: 500;
    padding: 15px;
    cursor: default;
    animation: popUp .3s ease-out;
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(.4);
        transform: translate(-50%, -50%);
    } to {
        opacity: 1;
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
}





