// Note
.Note{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(66, 66, 66, .2);
    background-color: #fff;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;

    &:hover { box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); }

    &__title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__content {
        font-size: 1.4rem; 
        white-space: pre-wrap;
    }
}

.clicked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
    z-index: 500;
    padding: 15px;
    cursor: default;
    animation: popUp .3s ease-out;
    
    h1, div { cursor: text;  }
    h1 { font-size: 2.2rem; }
    div { font-size: 1.7rem; }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(.4);
        transform: translate(-50%, -50%);
    } to {
        opacity: 1;
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
}

// Notes
.Notes {
    width: 100%;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(min-cotent, auto);
    grid-auto-flow: dense;
}

[contenteditable] { outline: 0px solid transparent; }



