.EditableNote {    
    cursor: text;
    max-height: 70vh;
    height: auto;
    overflow: auto;

    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__content { 
        font-size: 1.7rem; 
        line-height: 1.5;
    }
}

[contenteditable] { outline: 0px solid transparent; }

[contentEditable]:empty::before{
    content:attr(placeholder);
    color:#80868A;
}