@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.App {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: white;
    min-height: 100vh;
}

button {
    cursor: pointer;
    border: none;
    outline: none;

    img { width: 100%; }
}

img { cursor: pointer; }
